@use 'UiKit/styles/_colors.sass' as colors

$textarea-color: colors.$black
$textarea-caret-color: colors.$black
$textarea-font-size: 16px
$textarea-line-height: 26px
$textarea-font-weight: 400
$textarea-font-family: 'Avenir'
$textarea-border: solid 1px colors.$gray-40
$textarea-border-radius: 2px
$textarea-height: 100%
$textarea-padding: 12px
$textarea-border-focus-color: colors.$primary
$textarea-border-error-color: colors.$red
$textarea-placeholder-color: colors.$gray-60
$textarea-background-color: colors.$gray-10
