@use 'UiKit/styles/_colors.scss' as *;
@use 'UiKit/styles/_variables.scss' as *;
  
.is--card{
  display: flex;
  padding: 8px;
  gap: 8px;
  border-radius: 2px;
  background: $white;
  box-shadow: $box-shadow-medium;
}