
@use 'UiKit/styles/_colors.scss' as *;
@use 'UiKit/styles/_variables.scss' as *;
@use 'UiKit/styles/_mixins.scss' as *;

table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

thead,
tbody{
    width: 100%;
}

th{
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    color: $dark-gray;
    text-align: left;
    padding: 16px;
    gap: 2px;
    flex: 1 0 0;
}


tbody{
    tr{
        border-top: 1px solid $light-gray;
        cursor: default;
        transition: all 0.3s ease;

        &:hover{
            background-color: $light-gray;
        }
    }
}

td{
    padding: 16px;
    flex: 1 0 0;
    color: $body-text;
}


.is--table-cell{
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
}

.is--table-not-found{
    border-top: 1px solid $light-gray;
    justify-content: center;
    width: 100%;
}

td.is--small{
    font-size: 12px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
}

th.is--small-2{
    font-size: 12px !important;
    font-weight: 800 !important;
    line-height: 18px !important;
}

// SPACINGS
.with-default-distance table:not(:first-child),
table:not(:first-child).with-default-distance{
    margin-top: 60px;
}

.with-default-distance table:not(:last-child),
table:not(:last-child).with-default-distance{
    margin-bottom: 60px;
}