
@use 'UiKit/styles/_colors.scss' as *;
@use 'UiKit/styles/_variables.scss' as *;
@use 'UiKit/styles/_mixins.scss' as *;



.is--tags-inline{
    display: flex;
    align-content: center;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
}

.is--tags-inline + *{
    margin-top: 20px;
}