@import 'UiKit/styles/_colors.sass'
@import 'UiKit/styles/_mixins.sass'
@import 'UiKit/styles/_global.sass'

$select-border: solid 1px $gray-40
$select-border-radius: 2px
$select-height: 40px
$select-large-height: 48px
$select-border-error-color: $red
$select-border-focus-color: $primary
$select-placeholder-color: $gray-60
$select-background-color: $gray-10
$select-menu-background: $gray-10
$select-menu-border: solid 1px $gray-20
$select-menu-border-radius: 0
$select-menu-box-shadow: $box-shadow-medium
$select-menu-max-height: 222px

$select-font-size: 16px
$select-line-height: 26px
$select-font-family: 'Avenir'
$select-font-weight: 400

$select-menu-option-color: $black
$select-menu-option-font-family: 'Avenir'
$select-menu-option-highlight-color: $gray-20
$select-menu-option-selected-color: $primary
$select-menu-option-selected-font-size: 16px
$select-menu-option-selected-font-weight: 600
$select-menu-option-font-size: 16px
$select-menu-option-line-height: 26px
