@import 'UiKit/styles/_colors.sass'
@import 'UiKit/styles/_mixins.sass'

$select-border: solid 1px $gray-40
$select-border-radius: 6px
$select-height: 38px
$select-large-height: 48px
$select-border-error-color: $red
$select-placeholder-color: $gray-50
$select-menu-background: $white
$select-menu-border: solid 1px transparent
$select-menu-border-radius: 6px
$select-menu-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30)

$select-font-size: 12px
$select-line-height: 12px
$select-font-family: 'Avenir'
$select-font-weight: 600

$select-menu-option-color: $black
$select-menu-option-font-family: 'Avenir'
$select-menu-option-highlight-color: $gray-10
$select-menu-option-selected-color: $secondary
$select-menu-option-font-size: 12px
