@import '@/styles/_colors.sass'
@import '@/styles/_mixins.sass'

$base-banner-padding: 10px
$base-banner-close-button-right: 10px
$base-banner-default-color: $white
$base-banner-default-font-size: 12px
$base-banner-default-line-height: 19px
$base-banner-z-index: 9
$base-banner-close-button-width: 25px
$base-banner-close-button-height: 25px

$base-banner-success-background-color: $secondary
$base-banner-error-background-color: $red
$base-banner-warning-background-color: $yellow-dark
$base-banner-info-background-color: $primary-dark
