@import 'UiKit/styles/_colors.sass'
@import 'UiKit/styles/_mixins.sass'
@import 'UiKit/styles/_global.sass'

$border-color: $gray-30
$border-color-white: $gray-10
$white-color: $white
$white-link-color: $gray-10
$link-color: $primary

$open-close-icon-fill: $black
$accordion-item-active-header-background: $white
$accordion-item-active-header-box-shadow: $box-shadow-small
$accordion-item-active-content-background: $gray-10