$avatar-border: solid 2px #C2C9CF
$avatar-font-size: 20px
$avatar-background: linear-gradient(180deg, rgba(#C2C9CF, 1) 0%, rgba(#C2C9CF, 0.1) 100%)

$avatar-large-size: 140px
$avatar-large-font-size: 40px

$avatar-medium-size: 70px

$avatar-small-size: 35px
$avatar-small-font-size: 14px

$avatar-x-small-size: 20px
$avatar-x-small-font-size: 11px
