@import 'UiKit/styles/_colors.sass'
@import 'UiKit/styles/_mixins.sass'

$radio-input-size: 16px
$radio-input-border: solid 1px $gray-40
$radio-input-circle-color: $primary

$radio-input-label-color: $black
$radio-input-label-font-weight: 500
$radio-input-label-font-family: 'Avenir'
$radio-input-label-font-size: 16px

