$white: #fff
$gray-10: #F2F4F5
$gray-20: #DCE1E5
$gray-30: #C2C9CF

$primary: #004FFF
$primary-dark: #0042D4
$primary-light: #ECF8FF

$secondary: #3DDC97
$secondary-dark: #36BE83
$secondary-light: #D9FFEE

$red: #FF7070
$red-dark: #FF3B3B
$red-light: #FFF1F1

$purple: #6F3DFD
$purple-dark: #5014D0
$purple-light: #F8F5FF

$alabaster: #F2F4F5

$red: #ff3333
$orange: #ffa64d
$blue: #0d6efd
