$primary: #004FFF
$primary-dark: #0042D4
$primary-light: #F0F4FF

$secondary: #3DDC97
$secondary-dark: #36BE83
$secondary-light: #D9FFEE

$red: #FF7070
$red-dark: #FF3B3B
$red-light: #FFF1F1

$purple: #6F3DFD
$purple-dark: #5014D0
$purple-light: #F8F5FF

$yellow: #FFC24D
$yellow-dark: #F1AF32
$yellow-light: #FFF7E8

$white: #fff
$gray-10: #F8F9FA
$gray-20: #E9ECEF
$gray-30: #DEE2E6
$gray-40: #CED4DA
$gray-50: #ADB5BD
$gray-60: #6C757D
$gray-70: #495057
$gray-80: #343A40
$gray-90: #1A202D
$black: #12161F

// backgrounds
.is--background-primary
  background-color: $primary
.is--background-primary-dark
  background-color: $primary-dark
.is--background-primary-light
  background-color: $primary-light

.is--background-secondary
  background-color: $secondary
.is--background-secondary-dark
  background-color: $secondary-dark
.is--background-secondary-light
  background-color: $secondary-light

.is--background-red
  background-color: $red
.is--background-red-dark
  background-color: $red-dark
.is--background-red-light
  background-color: $red-light

.is--background-purple
  background-color: $purple
.is--background-purple-dark
  background-color: $purple-dark
.is--background-purple-light
  background-color: $purple-light

.is--background-yellow
  background-color: $yellow
.is--background-yellow-dark
  background-color: $yellow-dark
.is--background-yellow-light
  background-color: $yellow-light

.is--background-black
  background-color: $black
.is--background-white
  background-color: $white


.is--background-gray-10
  background-color: $gray-10
.is--background-gray-20
  background-color: $gray-20
.is--background-gray-30
  background-color: $gray-30
.is--background-gray-40
  background-color: $gray-40
.is--background-gray-50
  background-color: $gray-50
.is--background-gray-60
  background-color: $gray-60
.is--background-gray-70
  background-color: $gray-70
.is--background-gray-80
  background-color: $gray-80
.is--background-gray-90
  background-color: $gray-90

// COLORS
.is--color-primary
  color: $primary
.is--color-primary-dark
  color: $primary-dark
.is--color-primary-light
  color: $primary-light

.is--color-secondary
  color: $secondary
.is--color-secondary-dark
  color: $secondary-dark
.is--color-secondary-light
  color: $secondary-light

.is--color-red
  color: $red
.is--color-red-dark
  color: $red-dark
.is--color-red-light
  color: $red-light

.is--color-purple
  color: $purple
.is--color-purple-dark
  color: $purple-dark
.is--color-purple-light
  color: $purple-light

.is--color-yellow
  color: $yellow
.is--color-yellow-dark
  color: $yellow-dark
.is--color-yellow-light
  color: $yellow-light

.is--color-black
  color: $black
.is--color-white
  color: $white


.is--color-gray-10
  color: $gray-10
.is--color-gray-20
  color: $gray-20
.is--color-gray-30
  color: $gray-30
.is--color-gray-40
  color: $gray-40
.is--color-gray-50
  color: $gray-50
.is--color-gray-60
  color: $gray-60
.is--color-gray-70
  color: $gray-70
.is--color-gray-80
  color: $gray-80
.is--color-gray-90
  color: $gray-90

[class*="is--color"] p:not([class*="is--color"]),
[class*="is--color"] li:not([class*="is--color"]),
[class*="is--color"] a:not([class*="is--color"])
    color: inherit