@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap')

@font-face
  font-family: Avenir
  font-style: normal
  font-weight: 900
  font-display: swap
  src: url("UiKit/assets/fonts/Avenir-Black/Avenir-Black.woff2") format("woff2"), url("UiKit/assets/fonts/Avenir-Black/Avenir-Black.woff") format("woff"), url("UiKit/assets/fonts/Avenir-Black/Avenir-Black.ttf") format("truetype")

@font-face
  font-family: Avenir
  font-style: normal
  font-weight: 800
  font-display: swap
  src: url("UiKit/assets/fonts/Avenir-Heavy/Avenir-Heavy.woff2") format("woff2")

@font-face
  font-family: Avenir
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url("UiKit/assets/fonts/Avenir-Light/Avenir-Light.woff2") format("woff2"), url("UiKit/assets/fonts/Avenir-Light/Avenir-Light.woff") format("woff"), url("UiKit/assets/fonts/Avenir-Light/Avenir-Light.ttf") format("truetype")

@font-face
  font-family: Avenir
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url("UiKit/assets/fonts/Avenir-Book/Avenir-Book.woff2") format("woff2"), url("UiKit/assets/fonts/Avenir-Book/Avenir-Book.woff") format("woff"), url("UiKit/assets/fonts/Avenir-Book/Avenir-Book.ttf") format("truetype")

@font-face
  font-family: Avenir
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url("UiKit/assets/fonts/Avenir-Roman/Avenir-Roman.woff2") format("woff2"), url("UiKit/assets/fonts/Avenir-Roman/Avenir-Roman.woff") format("woff"), url("UiKit/assets/fonts/Avenir-Roman/Avenir-Roman.ttf") format("truetype")

@font-face
  font-family: Avenir
  font-style: normal
  font-weight: 600
  font-display: swap
  src: url("UiKit/assets/fonts/Avenir-Medium/Avenir-Medium.woff2") format("woff2"), url("UiKit/assets/fonts/Avenir-Medium/Avenir-Medium.woff") format("woff"), url("UiKit/assets/fonts/Avenir-Medium/Avenir-Medium.ttf") format("truetype")


@import 'UiKit/styles/_mixins.sass'
@import 'UiKit/styles/_colors.sass'

html,
body
  -webkit-overflow-scrolling: touch
  color: $black
  font-family: 'Avenir', arial, helvetica, sans-serif
p
  +font(400)
  font-size: inherit
  line-height: inherit
  font-style: normal
p,
span,
div
  &.is--small-text
    +font(400)
    font-size: 12px
    line-height: 18px
em,
i
  +font(300)
  font-style: italic
strong, b
  +font(800)
  &.is--small-text
    font-size: 12px
    line-height: 18px

sup
  font-size: 100%

h1
  +font(900)
  font-size: 44px
  line-height: 66px
  @media screen and (max-width: 767px)
    font-size: 38px
    line-height: 57px
h2
  +font(900)
  font-size: 34px
  line-height: 51px
  @media screen and (max-width: 767px)
    font-size: 28px
    line-height: 42px
h3
  +font(900)
  margin: 0
  font-size: 24px
  line-height: 36px
  &.is--subheading
    +font(400)
h4
  +font(800)
  font-size: 20px
  line-height: 30px
  @media screen and (max-width: 767px)
    font-size: 18px
    line-height: 28px
  &.is--subheading
    +font(400)
h5
  +font(800)
  font-size: 16px
  line-height: 24px
h6
  +font(800)
  font-size: 14px
  line-height: 21px

// H - titles by class
.is--h1__title
  @extend h1
.is--h2__title
  @extend h2
.is--h3__title
  @extend h3
.is--h4__title
  @extend h4
.is--h5__title
  @extend h5
.is--h6__title
  @extend h6

.is--display-1
  +font(900)
  font-size: 100px
  line-height: 100px
.is--display-2
  +font(900)
  font-size: 50px
  line-height: 75px
  @media screen and (max-width: 767px)
    font-size: 44px
    line-height: 66px
.is--subheading-1
  +font(300)
  font-size: 24px
  line-height: 36px
  letter-spacing: 0.1px
  @media screen and (max-width: 767px)
    font-size: 20px
    line-height: 30px
.is--subheading-2
  +font(300)
  font-size: 20px
  line-height: 30px
  // @media screen and (max-width: 767px)
  //   font-size: 18px
  //   line-height: 28px
.is--body
  +font(400)
  font-size: 16px
  line-height: 26px
.is--body-italic
  @extend .is--body
  font-style: italic
.is--small
  +font(500)
  font-size: 12px
  line-height: 18px
.is--small-2
  +font(800)
  font-size: 12px
  line-height: 18px
.is--link-1
  +font(800)
  font-size: 16px
  line-height: 26px
  text-decoration: underline
  transition: 0.3s all  ease-in-out
  color: $primary
  cursor: pointer
  &:hover
    text-decoration: none
.is--link-2
  +font(800)
  font-size: 12px
  line-height: 18px
  text-decoration: underline
  transition: 0.3s all  ease-in-out
  color: $primary
  cursor: pointer
  &:hover
    text-decoration: none
.is--h1__mobile
  +font(900)
  font-size: 38px
  font-style: normal
  line-height: 57px
.is--link-regular
  +font(800)
  font-size: 14px
  line-height: 21px
  text-decoration: underline
  transition: 0.3s all  ease-in-out
  color: $primary
  cursor: pointer
  &:hover
    text-decoration: none
.is--gray-10
  color: $gray-10
