@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap')

@font-face
  font-family: Avenir
  font-style: normal
  font-weight: 900
  font-display: swap
  src: url("@/assets/fonts/Avenir-Black/Avenir-Black.woff2") format("woff2")

@font-face
  font-family: Avenir
  font-style: normal
  font-weight: 800
  font-display: swap
  src: url("@/assets/fonts/Avenir-Heavy/Avenir-Heavy.woff2") format("woff2")

@font-face
  font-family: Avenir
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url("@/assets/fonts/Avenir-Light/Avenir-Light.woff2") format("woff2")

@font-face
  font-family: Avenir
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url("@/assets/fonts/Avenir-Book/Avenir-Book.woff2") format("woff2")


@import 'UiKit/styles/_mixins.sass'
@import 'UiKit/styles/_colors.sass'

html,
body
  -webkit-overflow-scrolling: touch
  color: $black
  font-family: 'Avenir'
p
  +font(400)
  font-size: inherit
  line-height: inherit
  font-style: normal
p,
span,
div
  &.is--small-text
    +font(400)
    font-size: 12px
    line-height: 18px
em,
i
  +font(300)
  font-style: italic
strong, b
  +font(800)
  &.is--small-text
    font-size: 12px
    line-height: 18px

sup
  font-size: 100%

h1
  +font(900)
  font-size: 44px
  line-height: 66px
  @media screen and (max-width: 767px)
    font-size: 30px
    line-height: 40px
h2
  +font(900)
  font-size: 34px
  line-height: 51px
  @media screen and (max-width: 767px)
    font-size: 25px
    line-height: 35px
h3
  +font(900)
  margin: 0
  font-size: 24px
  line-height: 36px
  @media screen and (max-width: 767px)
    font-size: 20px
    line-height: 28px
  &.is--subheading
    +font(400)
h4
  +font(800)
  font-size: 20px
  line-height: 30px
  @media screen and (max-width: 767px)
    font-size: 18px
    line-height: 28px
  &.is--subheading
    +font(400)
h5
  +font(800)
  font-size: 16px
  line-height: 24px

h6
  +font(800)
  font-size: 14px
  line-height: 21px

// H - titles by class
.is--h1__title
  @extend h1
.is--h2__title
  @extend h2
.is--h3__title
  @extend h3
.is--h4__title
  @extend h4
.is--h5__title
  @extend h5
.is--h6__title
  @extend h6
