@import 'UiKit/styles/_colors.sass'

$box-shadow-small: 0 2px 5px 1px rgba(18, 22, 31, 0.03), 0 2px 3px -2px rgba(18, 22, 31, 0.15)
$box-shadow-medium: 0 4px 5px -2px rgba(18, 22, 31, 0.05), 0 6px 25px 2px rgba(18, 22, 31, 0.06)
$box-shadow-large: 0 6px 7px -4px rgba(18, 22, 31, 0.05), 0 10px 32px 4px rgba(18, 22, 31, 0.10)

.is--card
  display: flex
  padding: 8px
  gap: 8px
  border-radius: 2px
  border: 1px solid $gray-10
  background: $white
  box-shadow: $box-shadow-medium

.is--table-cell
  display: flex
  padding: 16px
  align-items: center
  gap: 16px

.is--table-not-found
  border-top: 1px solid $gray-20
  justify-content: center
  width: 100%
