
@use 'UiKit/styles/_colors.scss' as *;
@use 'UiKit/styles/_mixins.scss' as *;
@use 'UiKit/styles/_variables.scss' as *;

// Utility: max-width classes
@include generate-max-width-utilities(10, 1600, px);
// Utility: max-height classes
@include generate-max-height-utilities(10, 1600, px);

.is--uppercase{
    text-transform: uppercase;
}

.is--lt-tablet-show{
    display: none !important;

    @media screen and (max-width: $tablet){
        display: block !important;
    }
}

.is--lt-tablet-hide{
    @media screen and (max-width: $tablet){
        display: none !important;
    }
}
  

.is--gt-desktop-lg-show{
    display: block !important;

    @media screen and (max-width: $desktop-lg){
        display: none !important;
    }
}


.is--lt-desktop-lg-show{
    display: block !important;

    @media screen and (min-width: $desktop-lg){
        display: none !important;
    }
}
    
.is--gt-desktop-md-show{
    display: block !important;

    @media screen and (max-width: $desktop-md){
        display: none !important;
    }
}

.is--lt-desktop-md-show{
    display: block !important;

    @media screen and (min-width: $desktop-md){
        display: none !important;
    }
}

.is--gt-desktop-show{
    display: block !important;

    @media screen and (max-width: $desktop){
        display: none !important;
    }
}

.is--lt-desktop-show{
    display: block !important;

    @media screen and (min-width: $desktop){
        display: none !important;
    }
}

.is--gt-tablet-show{
    display: block !important;

    @media screen and (max-width: $tablet){
        display: none !important;
    }
}

.is--visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
}

.is--paddings{
    padding: 130px 0;

    @media screen and (max-width: $tablet){
        padding: 100px 0;
    }
}



.is--paddings-60{
    padding: 60px 0;
}

  
.is--short-block{
    display: flex;
    max-width: 799px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}


.is--side-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    position: relative;

    @media screen and (max-width: $tablet){
        position: initial;
        width: 100%;
    }

    & > p,
    .is--side-block__content{
        display: flex;
        flex-direction: column;
        align-self: stretch;
        color: $gray-70;
        padding: 0 20px;
        border-left: 2px solid $primary;
        margin-top: 20px;
    }
}

.is--sticky{
    @media screen and (min-width: $tablet){
        position: sticky;
        top: 123px;
    }
}

.is--two-col-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px 30px;

    @media screen and (max-width: $tablet){
        // grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
    }

    // Optional: content-based column that respects child's max-width
    // Apply `is--max-width-{n}` to the child in the content-based column
    &.is--cols-auto-left{
        @media screen and (min-width: $tablet){
            grid-template-columns: max-content 1fr;
        }
    }

    &.is--cols-auto-right{
        @media screen and (min-width: $tablet){
            grid-template-columns: 1fr max-content;
        }
    }

    &.is--three{
        @media screen and (min-width: $tablet){
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    & + & {
      margin-top: 30px;
    }

    & > ul,
    & > ol{
        margin-top: 0;
    }
}

* + .is--two-col-grid {
    margin-top: 40px;
}


.is--three-col-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;

    @media screen and (max-width: $desktop){
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (max-width: $tablet){
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.is--gap-80{
    gap: 80px;

    @media screen and (max-width: $tablet){
        gap: 40px;
    }
}


.is--gap-40-80{
    gap: 40px 80px;

    @media screen and (max-width: $tablet){
        gap: 40px 60px;
    }
}

.is--col-gap-100{
    column-gap: 100px;

    @media screen and (max-width: $tablet){
        column-gap: 25px;
    }
}

.is--align-items-center{
    align-items: center;
}

.is--align-self-center{
    align-self: center;
}

.is--justify-space-between {
    display: flex;
    justify-content: space-between;
}
        
.is--page{
    width: 100%;

    @media screen and (max-width: $tablet){
        padding-top: 25px;
    }
}

.is--page > *:not(.is--page-content, .is--no-padding),
.is--page-content > div > *{
    padding-top: 130px;

    @media screen and (max-width: $tablet){
        padding-top: 100px;
    }
}

.is--page > *:not(.is--page-content, .is--no-padding),
.is--page > .is--page-content{
    &:last-child:not(.is--container){
        padding-bottom: 130px;

        @media screen and (max-width: $tablet){
            padding-bottom: 100px;
        }
    }
}

// .is--page > *:last-child:not(.is--container)
//     padding-bottom: 130px
//     @include media-lte(tablet)
//         padding-bottom: 100px
.is--page > .is--container:last-child{
    padding-bottom: 130px;
}

.is--page > .is--container + .is--container{
    padding-top: 40px !important;
}


hr{
    border-top: 0;
    border-bottom: 1px solid $gray-50;

}
// SPACINGS



pre{
    margin-top: 60px;
}

.is--margin-top-0{
    margin-top: 0 !important;
}

.is--margin-top-4{
    margin-top: 4px !important;
}

.is--margin-top-8{
    margin-top: 8px !important;
}

.is--margin-bottom-8{
    margin-bottom: 8px !important;
}

.is--margin-top-10{
    margin-top: 10px !important;
}

.is--margin-top-12{
    margin-top: 12px !important;
}

.is--margin-top-15{
    margin-top: 15px !important;
}

.is--margin-top-20{
    margin-top: 20px !important;
}

.is--margin-bottom-20{
    margin-bottom: 20px !important;
}

.is--margin-top-24{
    margin-top: 24px !important;
}

.is--margin-top-30{
    margin-top: 30px !important;
}

.is--margin-top-40{
    margin-top: 40px !important;

    // @media screen and (max-width: $tablet){
    //     margin-top: 25px !important;
    // }
}

.is--margin-bottom-40{
    margin-bottom: 40px !important;
}

.is--margin-top-50{
    margin-top: 50px !important;
}

.is--margin-top-60{
    margin-top: 60px !important;
}

.is--margin-top-70{
    margin-top: 70px !important;
}

.is--margin-top-80{
    margin-top: 80px !important;
}

.is--margin-top-90{
    margin-top: 90px !important;
}

.is--margin-top-100{
    margin-top: 100px !important;
}

.is--margin-top-130{
    margin-top: 130px;

    @media screen and (max-width: $tablet){
        margin-top: 100px;
    }
}


.is--padding-bottom-130{
    padding-bottom: 130px !important;

    @media screen and (max-width: $tablet){
        // padding-bottom: 80px !important;
        padding-bottom: 100px !important;
    }
}




.is--link-text-hidden{
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    overflow-wrap: normal !important;
    word-break: normal;
}

.highlight{
  background-color: $yellow;
}

.is--hidden{
  display: none;
}

.is--no-data{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 40px 0;

    strong{
      font-weight: 800;
    }
}


.is--two-col-text{
    columns: 2;
    gap: 16px 80px;
    margin: 0;

    li{
        break-inside: avoid;
    }

    li + li{
        margin-top: 25px;
    }

    @media screen and (max-width: $tablet){
        columns: 1;
    }
}