@import 'UiKit/styles/_colors.sass'
@import 'UiKit/styles/_mixins.sass'

$checkbox-label-color: $gray-80
$checkbox-label-font-family: 'Avenir'
$checkbox-label-font-weight: 400
$checkbox-label-font-size: 16px
$checkbox-border: solid 1px $black
$checkbox-checked-border-color: $primary
$checkbox-border-radius: 2px
$checkbox-size: 16px
$checkbox-checked-fill: $primary
$checkbox-asterisk-color: $red
$checkbox-error-border-color: $red
