@import 'UiKit/styles/_colors.sass'
@import 'UiKit/styles/_mixins.sass'

$input-color: $black
$input-caret-color: $black
$input-font-size: 12px
$input-line-height: 12px
$input-font-weight: 600
$input-font-family: 'Avenir'
$input-border: solid 1px $gray-40
$input-border-radius: 6px
$input-height: 38px
$input-padding: 0 12px
$input-border-focus-color: $gray-50
$input-border-error-color: $red
$input-placeholder-color: $gray-50

$input-large-size-height: 48px
$input-large-size-font-size: 13px
$input-large-size-line-height: 14px

$input-small-size-height: 30px
$input-small-size-font-size: 10px
$input-small-size-line-height: 10px
