@import '@/styles/_colors.sass'
@import '@/styles/_mixins.sass'

$input-color: $black
$input-caret-color: $black
$input-font-size: 12px
$input-line-height: 12px
$input-font-weight: 600
$input-font-family: 'Avenir'
$input-border: solid 1px $gray-40
$input-border-radius: 6px
$input-height: 38px
$input-padding: 0 12px
$input-border-focus-color: $gray-50
$input-border-error-color: $red
$input-placeholder-color: $gray-50
