@import '@/styles/_colors.sass'
@import '@/styles/_mixins.sass'

$notification-inline-color: $primary
$notification-inline-margin: 3px 0 20px
$notification-inline-font-size: 14px
$notification-inline-line-height: 19px
$notification-inline-padding: 12px 15px

$notification-inline-width: 20px
$notification-inline-height: 20px

$notification-inline-margin-left: 15px

$notification-inline-link-color: $secondary
$notification-inline-error-background-color: #ffcccc
$notification-inline-error-color: #ff3333


$notification-inline-warning-background-color: #fff2e6
$notification-inline-warning-color: #ffa64d

$notification-inline-success-background-color: #e6ffe6
$notification-inline-success-color: #00802b
