@import '@/styles/_colors.sass'
@import '@/styles/_mixins.sass'

$notification-inline-color: $black
$notification-inline-margin: 3px 0 20px
$notification-inline-font-size: 14px
$notification-inline-line-height: 19px
$notification-inline-padding: 12px 15px

$notification-inline-width: 20px
$notification-inline-height: 20px

$notification-inline-margin-left: 15px

$notification-inline-link-color: $secondary
$notification-inline-error-background-color: $red-light
$notification-inline-error-color: $red


$notification-inline-warning-background-color: $yellow-light
$notification-inline-warning-color: $yellow

$notification-inline-success-background-color: $secondary-light
$notification-inline-success-color: $secondary-dark
