@use 'UiKit/styles/_colors.sass' as colors


$table-thead-background-color: colors.$white
$table-tbody-tr-border-bottom-color: colors.$gray-20
$table-tbody-tr-td-background-color: colors.$white
$table-tbody-td-background-color: colors.$white
$table-tbody-td-color: colors.$gray-80
$table-tbody-th-color: colors.$gray-60
$table-tbody-td-hover-background-color: colors.$gray-10

$table-td-font-size: 16px
$table-td-line-height: 26px
$table-td-padding: 16px
$table-td-padding-small: 12px
$table-td-padding-mobile: 12px
$table-th-font-size: 14px
$table-th-line-height: 21px
$table-th-padding: 16px
$table-th-padding-mobile: 12px
$table-th-padding-small: 12px
