@import '@/styles/_colors.sass'
@import '@/styles/_mixins.sass'

$table-thead-background-color: $gray-30
$table-tbody-tr-border-bottom-color: $gray-20
$table-tbody-tr-td-background-color: $gray-10
$table-tbody-td-background-color: $black
$table-tbody-td-hover-background-color: $gray-20

$table-th-td-font-size: 14px
$table-th-td-line-height: 19.6px
$table-th-td-padding: 12px
