@use 'UiKit/styles/_colors.sass' as colors

$base-carousel-background-color: colors.$gray-10
$base-carousel-main-height: 80%
$base-carousel-main-default-image-height: 40%
$base-carousel-thumbs-height: 20%
$base-carousel-thumbs-opacity: 0.4
$base-carousel-navigation-height: 48px
$base-carousel-navigation-width: 48px
$base-carousel-navigation-hover-background: $primary-light
$base-carousel-navigation-background: $primary-light