@import 'UiKit/styles/_colors.sass'
@import 'UiKit/styles/_mixins.sass'

$tabs-bottom-line-color: $gray-30

$item-top-line-background-color: $gray-20
$item-top-line-active-background-color: $white
$item-top-line-active-label-color: $black
$item-top-line-active-sub-title-background-color: $primary
$item-top-line-active-before-background-color: $primary
$item-top-line-active-sub-title-color: $white

$item-label-color: $gray-60
$item-label-hover-color: $primary
$item-sub-title-background-color: $gray-30
$item-sub-title-color: $black

$item-top-line-item-padding: 8px 16px