@import '@/styles/_colors.sass'

$base-button-font-family: 'Avenir'
$base-button-font-size: 16px
$base-button-color: $white
$base-button-height: 40px
$base-button-padding: 0 15px
$base-button-icon-margin: 5px
$base-button-pill: 30px
$base-button-border-radius: 2px
$base-button-border-width: 2px
$base-button-large-font-size: 16px

$base-button-large-height: 45px
$base-button-small-height: 30px
$base-button-x-small-height: 26px


$base-button-large-padding: 0 30px
$base-button-small-padding: 0 10px
$base-button-x-small-padding: 0 6px

$base-button-primary-color: $primary
$base-button-primary-hover-color: $primary-dark
$base-button-secondary-color: $gray-40
$base-button-secondary-hover-color: $gray-50
$base-button-success-color: $secondary
$base-button-success-hover-color: $secondary-dark
$base-button-warning-color: $yellow
$base-button-warning-hover-color: $yellow-dark
$base-button-danger-color: $red
$base-button-danger-hover-color: $red-dark
